<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- beans  -->

    <bean id="draw2D" class="com.example.task1.Draw2D"/>
    <bean id="draw3D" class="com.example.task1.Draw3D"/>


    <bean id="circle" class="com.example.task1.Circle" scope="singleton">
        <constructor-arg ref="draw2D" />
        <property name="draw3D" ref="draw3D"/>
    </bean>


    <bean id="square" class="com.example.task1.Square" scope="prototype">
        <property name="draw2D" ref="draw2D" />
        <property name="draw3D" ref="draw3D" />
    </bean>

    <bean id="init-destroy" class="com.example.task2.DatabaseOperations"
          init-method="connectToDatabase" destroy-method="disconnectFromDatabase" >
    </bean>

</beans>

